<div class="main">
  <div class="container">
    <% @destinations.each do |destination| %>
      <div>
        <img src="<%= destination.image %>">
        <h3><%= destination.name %></h3>
        <p><%= destination.description %></p>
        <%= link_to "Show more", destination_path(destination) %>
      </div>
    <% end %>
  </div>
</div>